@model IEnumerable<Cat>

@{
    Layout = "_AdminLayout";
}

<div class="text-center">
    <input type="button" class="btn button1 btn-lg btn-warning my-2" value="Generate Report" onclick="window.location = '@Url.Action("CatsReport", "Report")'" />
</div>
<div class="container">
    <p></p>
    <div class="row">
        <div class="col-sm-12 col-lg-10">

            <table class="table table-striped table-bordered table-sm">
                <tr>
                    <th class="text-center">CatID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Breed</th>
                    <th class="text-center">Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right">@item.CatID</td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Breed</td>
                        <td class="text-center">
                            <form asp-action="DeleteCats" method="post">
                                <a asp-action="EditCats" class="btn btn-sm btn-warning"
                                   asp-route-productId="@item.CatID">
                                    Edit
                                </a>
                                <a asp-action="CreateCats" class="btn btn-primary btn-sm">Add new Cat</a>
                                <input type="hidden" name="DogID" value="@item.CatID" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
