@model IEnumerable<Dog>

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <p></p>
    <div class="row">
        <div class="col-sm-12 col-lg-10">

            <table class="table table-striped table-bordered table-sm">
                <tr>
                    <th class="text-center">DogID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Breed</th>
                    <th class="text-center">Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right">@item.DogID</td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Breed</td>
                        <td class="text-center">
                            <form asp-action="DeleteDogs" method="post">
                                <a asp-action="EditDogs" class="btn btn-sm btn-warning"
                                   asp-route-productId="@item.DogID">
                                    Edit
                                </a>
                                <input type="hidden" name="DogID" value="@item.DogID" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>

            <div class="text-center">
                <a asp-action="CreateDogs" class="btn btn-primary">Add new Dog</a>
                <input type="button" class="btn button1 btn-lg btn-warning my-2" value="Generate Report about Dogs" onclick="window.location = '@Url.Action("DogsReport", "Report")'" />
            </div>
        </div>
    </div>
</div>
            

