@model List<Dog>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dogs Report</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
        <h2>Dogs List</h2>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>DogID</th>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Age</th>
                        <th>Weight</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DogID</td>
                            <td>@item.Name</td>
                            <td>@item.Breed</td>
                            <td>@item.Age</td>
                            <td>@item.Weight</td>
                            <td>@item.Gender</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
</body>
</html> 